.button {
    min-width: 200px;
    padding: 3px;
    outline: none;
    border: none;
    background: #FFFF;
    padding: 16px 24px;
    border-radius: 30px;
    color: #000000;
    font-size: 17px;
    font-weight: 500;
    letter-spacing: .1rem;
    font-family: inherit;

    &:hover {
        cursor: pointer;
    }
}