.center__main {
    width: 100vw;

    .section__boletas {
        background: #000;
        padding: 20px;

        .center__boletas {
            max-width: 1200px;
            margin: auto;

            display: flex;
            flex-direction: column;
            align-items: center;


            .button__section {
                display: flex;
                gap: 10px;
            }

            .ticket {
                display: flex;
                gap: 50px;
                flex-wrap: wrap;

                h3 {
                    font-family: 'Oswald Medium', sans-serif;
                }
            }

            .text {
                letter-spacing: .1rem;
                font-family: inherit;
            }

            .input {
                padding: 10px;
                margin: 0 0 30px 0;
            }
        }
    }
}